{{- /*
SPDX-License-Identifier: Apache-2.0
*/}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hedera-block-node.fullname" . }}
  labels:
    {{- include "hedera-block-node.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "hedera-block-node.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "hedera-block-node.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "hedera-block-node.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
        - name: logging-config
          configMap:
            name: {{ include "hedera-block-node.fullname" . }}-logging-config
      containers:
      - name: {{ .Chart.Name }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
          - name: http
            containerPort: {{ .Values.service.port }}
            protocol: TCP
          - name: metrics
            containerPort: 9999
            protocol: TCP
        envFrom:
          - configMapRef:
              name: {{ include "hedera-block-node.fullname" . }}-config
          - secretRef:
              name: {{ include "hedera-block-node.fullname" . }}-secret
        volumeMounts:
          - name: logging-config
            mountPath: /app/logs/config
            readOnly: true
        {{- with  .Values.resources }}
        resources:
          requests:
            memory: {{ .requests.memory }}
            cpu: {{ .requests.cpu }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: {{ .Values.blockNode.health.liveness.endpoint }}
            port: {{ .Values.service.port }}
        readinessProbe:
          httpGet:
            path: {{ .Values.blockNode.health.readiness.endpoint }}
            port: {{ .Values.service.port }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

