apiVersion: v2
appVersion: 0.2.0-rc1
description: A Helm chart for Hedera Block Node
home: https://github.com/hashgraph/hedera-block-node
keywords:
  - blocknode
  - dlt
  - hedera
  - hashgraph
maintainers:
  - name: Hedera Block Node Team
    email: blocknode@hashgraph.com
name: hedera-block-node
sources:
  - https://github.com/hashgraph/hedera-block-node
version: 0.2.0-rc1
