# SPDX-License-Identifier: Apache-2.0
apiVersion: v2
appVersion: 0.5.0-SNAPSHOT
description: A Helm chart for Hiero Block Node
home: https://github.com/hiero-ledger/hiero-block-node
keywords:
  - blocknode
  - dlt
  - hiero
  - hedera
  - hashgraph
maintainers:
  - name: Hiero Block Node Team
    email: blocknode@hashgraph.com
name: block-node-helm-chart
sources:
  - https://github.com/hiero-ledger/hiero-block-node
version: 0.5.0-SNAPSHOT
dependencies:
  - name: kube-prometheus-stack
    alias: kubepromstack
    condition: kubepromstack.enabled
    version: "51.2.0"  # Use the latest stable version
    repository: "https://prometheus-community.github.io/helm-charts"
  - name: "loki"
    condition: loki.enabled
    repository: "https://grafana.github.io/helm-charts"
    version: "^2.15.2"
  - name: "promtail"
    condition: promtail.enabled
    repository: "https://grafana.github.io/helm-charts"
    version: "^6.7.4"
