# SPDX-License-Identifier: Apache-2.0
name: "E2E Test Suites"
on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - "*"

defaults:
  run:
    shell: bash

permissions:
  contents: read

env:
  GRADLE_EXEC: ./gradlew

jobs:
  e2e-tests:
    runs-on: block-node-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0

      - name: Expand Shallow Clone for Spotless
        run: |
          if [ -f .git/shallow ]; then
            git fetch --unshallow --no-recurse-submodules
          else
            echo "Repository is not shallow, no need to unshallow."
          fi

      - name: Set up JDK 21
        uses: actions/setup-java@7a6d8a8234af8eb26422e24e3006232cccaa061b # v4.6.0
        with:
          distribution: "temurin"
          java-version: "21.0.4"

      - name: Run Acceptance Tests
        id: acceptance-tests
        run: ${GRADLE_EXEC} runSuites
